@media screen and (max-width: 760px){

    header{
        flex-direction: column;
    }
    
    body{
        flex-direction: column;
    }
    

    form{
        flex-direction: column;
    }

    h1{
        font-size: 25px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    a{
        font-size: 12px;
    }
    button{
        font-size: 8px;
    }
    .ghost{
        font-size: 10px;
    }

}